.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 10px;
}

h2 {
  font-size: 15px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
